QWidget {
    background-color: rgb(68, 68, 68);
    color: rgb(255, 255, 255);
    font: 10pt \"幼圆\";
}

QWidget:checked {
    background-color: rgb(150, 150, 150);
}

QMenuBar {
    background-color: rgb(200, 200, 200);
    color: rgb(60, 60, 60);
}